body {
  margin: 50px;
}

body, button {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  color: #333333;
  background-color: #F9FAFB;
}

#form-container {
  display: flex;
  justify-content: center;
}

.day-grid {
  border-collapse: collapse;
  margin-bottom: 1em;
}

.worker-row {
  height: 30px;
}

.hour-cell {
  border: 1px solid #ccc;
  width: 30px;
}

.gray-cell {
  background-color: #ccc;
}

#form {
  display: grid;
  gap: 10px;
  max-width: 500px;
  grid-template-columns: 1.2fr 1fr;
}

#form label {
  text-align: right;
}

#form input[type="number"] {
  height: 30px;
}


#form input[type="number"],
#form button[type="submit"] {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

#form button[type="submit"] {
  background-color: #6C757D;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  cursor: pointer;
  grid-column: 2;
}

#form button[type="submit"]:hover {
  background-color: #4E555A;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.mietaa {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  animation: spin 3s linear infinite;
}

