body {
  margin: 30px;
}

body,
button {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #f9fafb;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.day-grid {
  border-collapse: collapse;
  margin-bottom: 1em;
}

.worker-row {
  height: 30px;
}

.hour-cell {
  border: 1px solid #ccc;
  width: 30px;
}

.gray-cell {
  background-color: #ccc;
}

.hidden {
  display: none;
}

#form {
  width: 1000px;
  margin: 0 auto;
}

#form fieldset {
  max-width: 500px;
  margin: 5px auto;
}

#form label {
  text-align: right;
}

#form input[type="number"] {
  height: 30px;
}

#form input[type="number"] {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

#form button[type="submit"] {
  display: block;
  background-color: #6c757d;
  color: #ffffff;
  padding: 10px;
  max-width: 200px;
  border: none;
  cursor: pointer;
  margin: 10px auto;
}

#form button[type="submit"]:hover {
  background-color: #4e555a;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.mietaa {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  animation: spin 3s linear infinite;
}
